.common-share
    .share-buttons
        .share-btn.fb(onclick="ShareUpdate.fb()")
        .share-btn.ok(onclick="ShareUpdate.ok()")
        .share-btn.vk(onclick="ShareUpdate.vk()")
        .share-btn.mm(onclick="ShareUpdate.mm()")
        .share-btn.tw(onclick="ShareUpdate.tw()")